<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="float.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <title>Float</title>
</head>

<body>

    <div class="wavebar">
        <img class="headerimg" src="sailor.png">
        <p class="title">{{{ name }}}</p>
        <div class="titlemiddle"><img class="titleimg" src="float.svg"></div>
        <button id="loginbtn" action="/logout"><a href="/logout"
                style="color: white; text-decoration: none">LOGOUT</a></button>
    </div>
    <div class="waveshadow"></div>
    <div class="fullcon">


        <div class="pcon">

            <div id="postformfield">


                <form id="postform" method="post" action="/">


                    <div class="nameandtitle">


                        <label for="name">TITLE</label>
                        <input type="text" name="title">

                    </div>


                    <label for="message">MESSAGE</label>
                    <textarea name="message" id="textareacomment" cols="30" rows="10"></textarea>
                    <p class="posta">{{{ name }}}</p>
                    <button type="submit" class="combutton one">POST</button>

                </form>

            </div>

            {{{ paragraphs }}}

        </div>

    </div>
    <div class="waveshadow2"></div>
    <div class="wavebar2"></div>
</body>

</html>