<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="float.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <title>Float</title>
</head>
<body>

    <div class="wavebar"> 
        <img class="headerimg" src="sailor.png"> 
        <p class="title">FLOAT</p>
        <button id="loginbtn">LOGIN</button>
    </div>
    <div class="waveshadow"></div>
    <div class="fullcon">

    <div class="ocon">

     

    </div>
    <div class="pcon"> 
  
    

</div>
<div class="waveshadow2"></div>
<div class="wavebar2"></div>
</body>
</html>